@import "./mixins";
@import "./typography";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}
/* Root */
html {
  // tgis define whta 1rem is
  /* font-size: 10px; */
  // font-size: 62.5%;
  font-size: 14px;
}

body {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

a {
  text-decoration: none;
}
